.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  
  padding: 8px;
  border: 2px solid lightgrey;
  border-radius: 16px;
  box-shadow: 4px 6px 6px 1px rgba(0, 0, 255, .2);;
  
  background-color: lightgoldenrodyellow;
  color: #000;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}

.list_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}